<h1>StaticPages#contact</h1>
<p>If your interessted or have further questions, please contact me</p>

        <h2>How to contact me:</h2>
          <ul>
            <li>email: abc@gmail.com</li> 
            <li>address: 211B Baker Street, London,SW1E 6LB, GB</li>
            <li>phone number: (0 44) 140 10 39</li>
            <li>twitter:@webmaster</li>
          </ul>